Repository petereon/battleship: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, pflake8, isort, mypy, pytest-cov, toml-sort

black:
  name: black
  stages:
  - commit
  language: system
  entry: poetry run black

pflake8:
  name: pflake8
  stages:
  - commit
  language: system
  entry: poetry run pflake8

isort:
  name: isort
  stages:
  - commit
  language: system
  entry: poetry run isort

mypy:
  name: mypy
  stages:
  - commit
  language: system
  entry: poetry run mypy .
  pass_filenames: false

pytest-cov:
  name: pytest
  stages:
  - push
  language: system
  entry: poetry run poe test
  pass_filenames: false

toml-sort:
  name: toml-sort
  stages:
  - commit
  language: system
  entry: poetry run toml-sort
  pass_filenames: false

fix: add source directory to sonar
  sonar-project.properties
Due: none

feat: terraform definition for sonarcloud project
  project.tf
Due: none

chore: setup Tarraform
  .gitignore
  project.tf
  pyproject.toml
Due: toml-sort

refactor(us3/uat3.1): 👩‍💻 change to use enums for carrier in tests
  NOTES.md
  src/battleship/logic/constants.py
  test/bdd/features/ship_placement.feature
  test/bdd/steps/ship_placement_test_steps.py
Due: black, pflake8, isort, mypy, pytest-cov

refactor(us3/uat3.1): 👩‍💻 change Enum to match Python naming conventions
  NOTES.md
  src/battleship/logic/constants.py
  test/bdd/steps/ship_placement_test_steps.py
Due: black, pflake8, isort, mypy, pytest-cov

refactor(us3/uat3.1): 👩‍💻 update unit tests and implementation with Enum
  src/battleship/logic/constants.py
  src/battleship/logic/player.py
  test/ship_placement_test.py
Due: black, pflake8, isort, mypy, pytest-cov

feat(us3/uat3.2): 🔴 red
  NOTES.md
  test/bdd/features/ship_placement.feature
  test/bdd/steps/ship_placement_test_steps.py
Due: black, pflake8, isort, mypy, pytest-cov

feat(us3/uat3.2): 🔴 red
  src/battleship/logic/constants.py
Due: black, pflake8, isort, mypy, pytest-cov

feat(us3/uat3.2): 🔴 red
  NOTES.md
  test/ship_placement_test.py
Due: black, pflake8, isort, mypy, pytest-cov

feat(us3/uat3.2): 🔴 red
  src/battleship/logic/constants.py
  src/battleship/logic/player.py
  test/bdd/steps/ship_placement_test_steps.py
  test/ship_placement_test.py
Due: black, pflake8, isort, mypy, pytest-cov

feat(us3/uat3.2): 🔴 red
  NOTES.md
  src/battleship/logic/constants.py
  test/ship_placement_test.py
Due: black, pflake8, isort, mypy, pytest-cov

feat(us3/uat3.2): 🟢 green
  NOTES.md
  src/battleship/logic/constants.py
  test/ship_placement_test.py
Due: black, pflake8, isort, mypy, pytest-cov

feat(us3/uat3.3): 🔴 red
  BACKLOG.md
  NOTES.md
  pyproject.toml
  src/battleship/logic/constants.py
  test/bdd/features/ship_placement.feature
Due: black, pflake8, isort, mypy, pytest-cov, toml-sort

feat(us3/uat3.3): 🔴 red
  src/battleship/logic/player.py
  test/ship_placement_test.py
Due: black, pflake8, isort, mypy, pytest-cov

feat(us3/uat3.3): 🔴 red
  NOTES.md
  pyproject.toml
  test/ship_placement_test.py
Due: black, pflake8, isort, mypy, pytest-cov, toml-sort

feat(us3/uat3.3): 🟢 green
  src/battleship/logic/player.py
  test/ship_placement_test.py
Due: black, pflake8, isort, mypy, pytest-cov

feat(us3/uat3.4): 🔴 red
  NOTES.md
  src/battleship/logic/constants.py
  test/bdd/features/ship_placement.feature
Due: black, pflake8, isort, mypy, pytest-cov

feat(us3/uat3.4): 🟢 green
  test/ship_placement_test.py
Due: black, pflake8, isort, mypy, pytest-cov

feat(us3/uat3.5): 🔴 red
  BACKLOG.md
  NOTES.md
  TECHDEBT.md
  test/bdd/features/ship_placement.feature
Due: none

feat(us3/uat3.5): 🔴 red
  test/ship_placement_test.py
Due: black, pflake8, isort, mypy, pytest-cov

feat(us3/uat3.5): 🟢 green
  BACKLOG.md
  src/battleship/logic/constants.py
Due: black, pflake8, isort, mypy, pytest-cov

docs: 📝 added user stories
  BACKLOG.md
  NOTES.md
Due: none

feat(us3/uat3.6): 🔴 red
  BACKLOG.md
  NOTES.md
  test/bdd/features/ship_placement.feature
  test/bdd/steps/ship_placement_test_steps.py
Due: black, pflake8, isort, mypy, pytest-cov

feat(us3/uat3.6): 🔴 red
  BACKLOG.md
  src/battleship/logic/player.py
  test/bdd/steps/ship_placement_test_steps.py
  test/ship_placement_test.py
Due: black, pflake8, isort, mypy, pytest-cov

feat(us3/uat3.6): 🔴 red
  test/bdd/steps/ship_placement_test_steps.py
  test/ship_placement_test.py
Due: black, pflake8, isort, mypy, pytest-cov

feat(us3/uat3.6): 🔴 red
  NOTES.md
  pyproject.toml
  test/ship_placement_test.py
Due: black, pflake8, isort, mypy, pytest-cov, toml-sort

feat(us3/uat3.6): 🔴 red
  src/battleship/logic/__init__.py
  src/battleship/logic/player.py
  src/battleship/logic/util.py
Due: black, pflake8, isort, mypy, pytest-cov

feat(us3/uat3.6): 🔴 red
  test/ship_placement_test.py
Due: black, pflake8, isort, mypy, pytest-cov

feat(us3/uat3.6): 🔴 red
  src/battleship/logic/util.py
Due: black, pflake8, isort, mypy, pytest-cov

feat(us3/uat3.6): 🔴 red
  src/battleship/logic/util.py
  test/ship_placement_test.py
Due: black, pflake8, isort, mypy, pytest-cov

feat(us3/uat3.6): 🟢 green
  src/battleship/logic/player.py
  src/battleship/logic/util.py
Due: black, pflake8, isort, mypy, pytest-cov

feat(us3/uat3.6): 🟢 green
  src/battleship/logic/util.py
  test/ship_placement_test.py
Due: black, pflake8, isort, mypy, pytest-cov

refactor(us3/uat3.6): 👩‍💻 remove all of the printing
  src/battleship/logic/util.py
  test/ship_placement_test.py
Due: black, pflake8, isort, mypy, pytest-cov

refactor(us3/uat3.6): 👩‍💻 simplify place_vessel
  BACKLOG.md
  NOTES.md
  src/battleship/logic/player.py
  src/battleship/logic/util.py
Due: black, pflake8, isort, mypy, pytest-cov

refactor(us3/uat3.6): 👩‍💻 changed the resturn for the uncovered lines
  src/battleship/logic/util.py
Due: black, pflake8, isort, mypy, pytest-cov

feat(us4/uat4.1): 🔴 red
  BACKLOG.md
  NOTES.md
  TECHDEBT.md
  test/bdd/features/shots.feature
  test/bdd/steps/shots_test_steps.py
Due: black, pflake8, isort, mypy, pytest-cov

feat(us4/uat4.1): 🔴 red
  test/bdd/steps/shots_test_steps.py
Due: black, pflake8, isort, mypy, pytest-cov

Path conditions:
  black: any of: \.py$
  pflake8: any of: \.py$, but not: setup.py
  isort: any of: \.py$
  mypy: any of: \.py$
  pytest-cov: any of: \.py$
  toml-sort: any of: pyproject.toml
