Repository petereon/battleship: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, pflake8, isort, mypy, pytest-cov, toml-sort

black:
  name: black
  stages:
  - commit
  language: system
  entry: poetry run black

pflake8:
  name: pflake8
  stages:
  - commit
  language: system
  entry: poetry run pflake8

isort:
  name: isort
  stages:
  - commit
  language: system
  entry: poetry run isort

mypy:
  name: mypy
  stages:
  - commit
  language: system
  entry: poetry run mypy .
  pass_filenames: false

pytest-cov:
  name: pytest
  stages:
  - push
  language: system
  entry: poetry run poe test
  pass_filenames: false

toml-sort:
  name: toml-sort
  stages:
  - commit
  language: system
  entry: poetry run toml-sort
  pass_filenames: false

feat(us11/uat11.1): 🔴 red
  poetry.lock
  pyproject.toml
  test/bdd/steps/game_start_api_test_steps.py
  test/health_api_test.py
Due: black, pflake8, isort, mypy, pytest-cov, toml-sort

feat(us11/uat11.1): 🟢 green
  .gitignore
  BACKLOG.md
  NOTES.md
  src/battleship/api/__init__.py
  src/battleship/api/api.py
Due: black, pflake8, isort, mypy, pytest-cov

feat: get details of deta projects
  .github/workflows/python-deploy.yml
  BACKLOG.md
Due: none

feat: move files into right place and update deployment
  .github/workflows/python-deploy.yml
  main.py
  src/battleship/api/__init__.py
  src/battleship/api/app.py
  test/health_api_test.py
Due: black, pflake8, isort, mypy, pytest-cov

fix: change the deta metadata to be cloned to the root directory
  .github/workflows/python-deploy.yml
Due: none

fix: isolate the details of the API
  .github/workflows/python-deploy.yml
Due: none

fix: update to enable the visor
  .github/workflows/python-deploy.yml
Due: none

fix: cleanup the visor enable
  .github/workflows/python-deploy.yml
  NOTES.md
Due: none

fix: adding src to import in main.py
  main.py
Due: black, pflake8, isort, mypy, pytest-cov

Path conditions:
  black: any of: \.py$
  pflake8: any of: \.py$, but not: setup.py
  isort: any of: \.py$
  mypy: any of: \.py$
  pytest-cov: any of: \.py$
  toml-sort: any of: pyproject.toml
