Repository petereon/battleship: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, pflake8, isort, mypy, pytest-cov, toml-sort

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    - id: check-builtin-literals
      args: ['--no-allow-dict-kwargs']
    - id: debug-statements
    - id: end-of-file-fixer
    - id: name-tests-test
    - id: sort-simple-yaml
    - id: trailing-whitespace
      exclude: ".*.md$"
  - repo: https://github.com/asottile/add-trailing-comma
    rev: v2.2.1
    hooks:
    - id: add-trailing-comma
  - repo: local
    hooks:
      - id: black
        name: black
        stages: [commit]
        language: system
        entry: poetry run black
        types: [python]

      - id: detect-secrets
        name: Detect secrets
        description: Detects high entropy strings that are likely to be passwords.
        language: system
        entry: poetry run detect-secrets-hook
        args: ['--baseline', '.secrets.baseline']

      - id: pflake8
        name: pflake8
        stages: [commit]
        language: system
        entry: poetry run pflake8
        types: [python]
        exclude: setup.py

      - id: gitlint
        name: gitlint
        stages: [commit-msg]
        language: system
        entry: poetry run gitlint
        args:
          - "--staged"
          - "--msg-filename"

      - id: isort
        name: isort
        stages: [commit]
        language: system
        entry: poetry run isort
        types: [python]

      - id: mypy
        name: mypy
        stages: [commit]
        language: system
        entry: poetry run mypy .
        types: [python]
        pass_filenames: false

      - id: pytest-cov
        name: pytest
        stages: [push]
        language: system
        entry: poetry run poe test
        types: [python]
        pass_filenames: false

      - id: toml-sort
        name: toml-sort
        stages: [commit]
        language: system
        entry: poetry run toml-sort
        pass_filenames: False
        files: pyproject.toml

feat: iterate over setting up each of the boards
  pyproject.toml
  src/minesweeper/cli/util.py
  src/minesweeper/logic/game.py
  test/bdd/steps/new_game_steps_test.py
  test/game_test.py
Due: black, pflake8, isort, mypy, pytest-cov, toml-sort

fix: update lint command to test-lint
  .github/workflows/python-lint.yml
Due: none

chore: remove commented out lines
  pyproject.toml
Due: toml-sort

feat: utility updated to handle player 1 own board
  .gitignore
  .vscode/emojis.code-snippets
  NOTES.md
  pyproject.toml
  src/minesweeper/cli/util.py
  test/util_test.py
Due: black, pflake8, isort, mypy, pytest-cov, toml-sort

feat: handle player 2 shots board
  src/minesweeper/cli/util.py
  test/util_test.py
Due: black, pflake8, isort, mypy, pytest-cov

chore: add back the format console test
  test/util_test.py
Due: black, pflake8, isort, mypy, pytest-cov

chore: add mocker for the format table
  test/util_test.py
Due: black, pflake8, isort, mypy, pytest-cov

docs: update notes file
  NOTES.md
Due: none

refactor: renaming everything that mentions minesweeper to battleships
  .github/workflows/python-test.yml
  NOTES.md
  README.md
  pyproject.toml
  src/battleship/__init__.py
  src/battleship/cli/__init__.py
  src/battleship/cli/util.py
  src/battleship/console/__init__.py
  src/battleship/logic/__init__.py
  src/battleship/logic/game.py
  src/battleship/ui/__init__.py
  src/minesweeper/__init__.py
  src/minesweeper/cli/__init__.py
  src/minesweeper/logic/__init__.py
  test/bdd/steps/new_game_steps_test.py
  test/game_test.py
  test/util_test.py
Due: black, pflake8, isort, mypy, pytest-cov, toml-sort

test: renaming functions to reflect their UAT stage
  NOTES.md
  test/bdd/steps/new_game_steps_test.py
Due: black, pflake8, isort, mypy, pytest-cov

refactor: renaming boards to reflect the domain name
  NOTES.md
  src/minesweeper/cli/util.py
  src/minesweeper/logic/game.py
  test/game_test.py
  test/util_test.py
Due: black, pflake8, isort, mypy, pytest-cov

chore: add notes for what we're going to do
  src/battleship/cli/util.py
  test/bdd/steps/new_game_steps_test.py
Due: black, pflake8, isort, mypy, pytest-cov

test: write test for formatting entire game
  NOTES.md
  TECHDEBT.md
  src/minesweeper/cli/util.py
  src/minesweeper/logic/game.py
  test/bdd/features/new_game.feature
  test/bdd/steps/new_game_steps_test.py
  test/util_test.py
Due: black, pflake8, isort, mypy, pytest-cov

chore: update tests for the unit tests around formatting the table
  src/battleship/cli/util.py
  test/bdd/steps/new_game_steps_test.py
  test/util_test.py
Due: black, pflake8, isort, mypy, pytest-cov

chore: cleanup code so that we can start again
  .gitignore
  .python-version
  archive.tgz
  src/battleship/__init__.py
  src/battleship/cli/__init__.py
  src/battleship/cli/util.py
  src/battleship/logic/__init__.py
  src/battleship/logic/game.py
  test/bdd/features/new_game.feature
  test/bdd/steps/new_game_steps_test.py
  test/game_test.py
  test/util_test.py
Due: black, pflake8, isort, mypy, pytest-cov

chore: create the new UAT to describe the game with the domain
  BACKLOG.md
Due: none

docs: update the backlog
  BACKLOG.md
Due: none

test: game start feature - uat2.1
  NOTES.md
  test/bdd/features/game_start.feature
  test/bdd/steps/game_start_test_steps.py
Due: black, pflake8, isort, mypy, pytest-cov

test: add tests for UAT2.1
  NOTES.md
  pyproject.toml
  src/battleship/logic/__init__.py
  src/battleship/logic/game.py
  src/battleship/logic/grid.py
  src/battleship/logic/player.py
  test/game_test.py
  test/grid_test.py
  test/player_test.py
Due: black, pflake8, isort, mypy, pytest-cov, toml-sort

test: mocking Grid in player tests
  test/player_test.py
Due: black, pflake8, isort, mypy, pytest-cov

feat: implemented UAT 2.1
  NOTES.md
  pyproject.toml
  src/battleship/logic/game.py
  src/battleship/logic/player.py
  test/bdd/steps/game_start_test_steps.py
  test/game_test.py
  test/player_test.py
Due: black, pflake8, isort, mypy, pytest-cov, toml-sort

refactor: change the steps for UAT2.1 into re-usable code
  test/bdd/features/game_start.feature
  test/bdd/steps/game_start_test_steps.py
Due: black, pflake8, isort, mypy, pytest-cov

chore: change the line length to 140 characters
  pyproject.toml
  test/bdd/steps/game_start_test_steps.py
Due: black, pflake8, isort, mypy, pytest-cov, toml-sort

test: set up the BDD tests for ship placement
  BACKLOG.md
  test/bdd/features/ship_placement.feature
  test/bdd/steps/ship_placement_test_steps.py
Due: black, pflake8, isort, mypy, pytest-cov

feat: implement the BDD tests for UAT 3.1
  NOTES.md
  test/bdd/features/ship_placement.feature
  test/bdd/steps/ship_placement_test_steps.py
Due: black, pflake8, isort, mypy, pytest-cov

feat(us3/uat3.1): 🔴 red
  NOTES.md
  pyproject.toml
  scripts/save.sh
  src/battleship/logic/constants.py
  src/battleship/logic/player.py
  test/bdd/features/ship_placement.feature
  test/bdd/steps/ship_placement_test_steps.py
  test/ship_placement_test.py
Due: black, pflake8, isort, mypy, pytest-cov, toml-sort

feat(us3/uat3.1): 🔴 red
  NOTES.md
  src/battleship/logic/player.py
  test/ship_placement_test.py
Due: black, pflake8, isort, mypy, pytest-cov

feat(us3/uat3.1): 🔴 red
  src/battleship/logic/player.py
  test/ship_placement_test.py
Due: black, pflake8, isort, mypy, pytest-cov

feat(us3/uat3.1): 🔴 red
  test/ship_placement_test.py
Due: black, pflake8, isort, mypy, pytest-cov

refactor(us3/uat3.1): 👩‍💻 explicitly state the mapping for the assertion
  test/ship_placement_test.py
Due: black, pflake8, isort, mypy, pytest-cov

feat(us3/uat3.1): 🟢 green
  BACKLOG.md
  NOTES.md
  test/bdd/features/ship_placement.feature
  test/bdd/steps/ship_placement_test_steps.py
Due: black, pflake8, isort, mypy, pytest-cov

fix: update the python-lint to work correctly
  .github/workflows/python-lint.yml
Due: none

fix: update the python-lint to install poetry
  .github/workflows/python-lint.yml
Due: none

fix: switch over to use mypy for linting
  .github/workflows/python-lint.yml
Due: none

docs: 📝 updated techdebt
  TECHDEBT.md
Due: none

fix: set up the sonar project properties
  pyproject.toml
  scripts/save.sh
  sonar-project.properties
Due: toml-sort

fix: update the sonar configuration to be more explicit
  TECHDEBT.md
  sonar-project.properties
Due: none
